body {
  font-family: "Inconsolata", monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

#draggable {
  background-color: gainsboro;
  width: 40em;
  height: 25em;
  border-radius: 8px;
  margin: 0;
}

.drag-item {
  width: 6em;
  height: 6em;
  background-color: blanchedalmond;
  border-radius: 8px;
  text-align: center;
}