:root {
  --darkest: rgb(0, 0, 0);
  --dark-secondary: gainsboro;
  --lightest: white;
  --main-highlight: #fff01f;
  background-color: var(--darkest);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inconsolata", monospace;
}

.App h1 {
  color: var(--lightest);
}

.testing-container {
  width: 50em;
  height: 40em;
  background-color: var(--lightest);
  box-shadow: 5px 5px var(--main-highlight);
  position: relative;
}

.draggable-container {
  width: 15em;
  height: 10em;
  background-color: var(--dark-secondary);
  position: absolute;
}